<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Plant Lexicon</title>
</head>

<body>

<!-- page content -->
<div class="content">
</div>
<h3>You are in basic view</h3>
<h5>Login to access the full view</h5>

<table>
  <%# @plants_all.each do |plants| %>
  <tr>
    <th><%= @plant_name %>
    </th>
    <th><img src=<%= @plant_img %>/>
    </th>
  </tr>
    <%# end %>
</table>

</body>
</html>